<% layout('\layout/page.ejs') %>
<!DOCTYPE html>
<html>
    <h1>
        <%= title %>
    </h1>
    <img class="f" src="<%= picture %>" alt="" />
    <h4>Несколько слов о нашем герое:</h4>
    <h6>
        <%=desc%>
    </h6>
</html>