<!DOCTYPE html>
<html>

<head>
    <style>
        a.rmenu {
            border: 1px solid black;
            display: flex;
            flex-flow: row nowrap;
            margin: 2px 0 0;
            padding: 0;
            font-size: 16px;
            line-height: 18px;
            list-style: none;
            display: block;
            padding: 8px 10px;
            text-transform: uppercase;
            letter-spacing: .27em;
            text-decoration: none;
        }

        a.rmenu:hover {
            background-color: rgb(0, 0, 0);
            color: white;
        }

        img.f {
            width: 40%;
        }
    </style>
</head>

<body>

    <header>
        <div class="logo">
            <a href="/">
                <img src="<%= geass %>" width="60" height="60px" />
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/lelouch">Lelouch</a></li>
                <li><a href="/cc">C.C.</a></li>
                <li><a href="/zero">Zero</a></li>
            </ul>
        </nav>
        <div class="tel"><a class="rmenu" href="/exit">Exit</a>
        </div>
    </header>
    <title id='img'>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <%- body %>
</body>

</html>